<div class="theme">
  <div class="progress-bar">
    <div class="green-bar"></div>
    <div class="green-bar"></div>
    <div class="green-bar"></div>
    <div class="green-bar"></div>
    <div class="green-bar"></div>
    <div class="green-bar"></div>
    <div class="green-bar"></div>
    <div class="green-bar"></div>
    <div class="green-bar"></div>
    <div class="green-bar"></div>
  </div>
  <p>Your preferences</p>
  <div class= "theme-box">
    <h1 class="text-center question" style="font-size: 28px;">Tatami mats: love them or hate them?</h1>
  </div>
  <div style="text-align: center">
    <%= form_for(@user, url: question_update_path) do |f| %>
      <div class="justify-content-center mb-3">
        <%= f.check_box :tatami, checked: true, hidden: true %>
        <%= f.submit "Love them", class: "yes-button" %>
      </div>
    <% end %>

    <%= form_for(@user, url: question_update_path) do |f| %>
      <div class="justify-content-center">
        <%= f.check_box :tatami, checked: false, hidden: true %>
        <%= f.submit "Hate them", class: "no-button" %>
      </div>
    <% end %>
  </div>
</div>

<%= render 'shared/question_layout' %>