<h1>Have any pets?</h1>

<%= form_for(@user, url: question_update_path) do |f| %>
  <div class="form-group">

    <%= f.radio_button :pets, true  %>Yes
    <%= f.radio_button :pets, false  %>No
    <%= f.submit "Next" %>
  </div>
<% end %>

<%= render 'shared/question_layout' %>