<div class="theme">
  <div class="img-box">
    <div class= "white-box">
      <p>Tell us about yourself</p>
      <div class="progress-bar">
        <div class="green-bar"></div>
        <div class="green-bar"></div>
        <div class="green-bar"></div>
        <div class="green-bar"></div>
        <div class="purple-bar"></div>
        <div class="purple-bar"></div>
        <div class="purple-bar"></div>
        <div class="purple-bar"></div>
        <div class="purple-bar"></div>
        <div class="purple-bar"></div>
      </div>
    </div>
  </div>
  <div class="question-box">
    <h1 class="text-center question" style= "font-size: 24px">Would you describe yourself as a minimalist?</h1>
    <div class="button-div" style="text-align: center">
      <div style="text-align: center; margin-top: 2rem;">
        <%= form_for(@user, url: question_update_path) do |f| %>
          <div class="justify-content-center">
            <%= f.check_box :size_desired, checked: true, hidden:  50 %>
            <%= f.submit "Yes I would ", class:"choice-button" %>
          </div>
        <% end %>

        <%= form_for(@user, url: question_update_path) do |f| %>
          <div class="justify-content-center">
            <%= f.check_box :size_desired, checked: false, hidden: 50 %>
            <%= f.submit "Not particularly", class:"choice-button" %>
          </div>
        <% end %>

        <%= form_for(@user, url: question_update_path) do |f| %>
          <div class="justify-content-center">
            <%= f.check_box :size_desired, checked: false, hidden: 50 %>
            <%= f.submit "Not in the slightest", class:"choice-button" %>
          </div>
        <% end %>
      </div>
    </div>
    
  </div>
  <%= render 'shared/question_layout' %>
</div>