<div class="theme">
  <h1 class="text-center question">Have any pets?</h1>
      <%= form_for(@user, url: question_update_path) do |f| %>
        <div class="form-group" style="text-align: center;">
          <div class="justify-content-center">
            <%= f.radio_button :pets, true  %>Yes
            <%= f.radio_button :pets, false  %>No
          </div>
          <div>
            <%= f.submit "Next", class: "next-button" %>
          </div>
        </div>
      <% end %>
  <%= render 'shared/question_layout' %>
</div>