<div class="feed-container">
  <% if @property.nil? %>
    <div style="position: absolute; top: 30%;">
      <p class="text-center">No more properties match your criteria. Click below to view all of the properties you've liked</p>
      <%= link_to "My dashboard", dashboard_path(current_user), class: "btn btn-success text-align-center", style: "display: block; color: white;" %>
    </div>
  <% else %>
    <div class="feed-card">
     <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="false">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="d-block w-100 feed-img" src="<%= cl_image_path @property.photo.key, height: 400, width: 350, crop: :fill %>" alt="First slide" style="position:relative;">
            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 48 48" style="position: absolute; top: 320px; left: 18px"><title>ic_location_on_48px</title>
              <g class="nc-icon-wrapper" fill="#111111">
                <path d="M24 4c-7.73 0-14 6.27-14 14 0 10.5 14 26 14 26s14-15.5 14-26c0-7.73-6.27-14-14-14zm0 19c-2.76 0-5-2.24-5-5s2.24-5 5-5 5 2.24 5 5-2.24 5-5 5z"/>
              </g>
            </svg>
          <p class="feed-location"><%= @property.location %><p>
        </div>
        <div class="carousel-item">
          <img class="d-block w-100 map" src="https://api.mapbox.com/styles/v1/mapbox/streets-v11/static/<%=@property.longitude%>,<%=@property.latitude%>,10.45,0,0/600x1000?access_token=pk.eyJ1Ijoic2hvdWtvMDUyMiIsImEiOiJjazM4bDU2NW4wMzl3M2lxZTE5cml5a2tlIn0.s7I7YWPUw2sOQdWENcgDtA" alt="Second slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="..." alt="Third slide">
        </div>
      </div>
      
    </div>

      <div class="feed-info">
        <div class="price">
          ¥<%= @property.price %>,000/m
        </div>
        <div style="margin-top: -12px;">
          <div>
            <i class="fas fa-subway"></i> <%= @property.distance_to_station %>m from <%= @property.location %> station
          </div>
          <div>
            <i class="fas fa-bed"></i> <%= @property.layout %>
            <p style="font-size: 10px; margin-top: -6px; margin-bottom: 0;">Layout</p>
          </div>
          <div>
            <i class="fas fa-ruler-combined"></i> <%= @property.size %>m²
            <p style="font-size: 10px; margin-top: -6px; margin-bottom: 0;">Size</p>
          </div>
          <div>
            <i class="fas fa-home"></i> <%= @property.age %>
            <p style="font-size: 10px; margin-top: -6px; margin-bottom: 0;">Age</p>
          </div>  
          <div>
            <i class="fas fa-money-check-alt"> </i> <%= @property.deposit %>,000
            <p style="font-size: 10px; margin-top: -6px; margin-bottom: 0;">Deposit</p>
          </div>
        </div>
      </div>
      <div class="like">
        <%= simple_form_for @property_viewing do |f| %>
          <%= f.input :property_id, :as => :hidden, :input_html => { :value => @property.id } %>
          <%= f.input :status, :as => :hidden, :input_html => { :value => "liked" } %>
          <%= f.button :submit, "Like", class: "btn btn-primary", style: "position: absolute; left: 60%; bottom: 15%;"%>
        <% end %>
      </div>
      <div class="dislike">
        <%= simple_form_for @property_viewing do |f| %>
          <%= f.input :property_id, :as => :hidden, :input_html => { :value => @property.id } %>
          <%= f.input :status, :as => :hidden, :input_html => { :value => "disliked" } %>
          <%= f.button :submit, "Dislike", class: "btn btn-danger", style: "position: absolute; left: 76%; bottom: 15%;"%>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
