<div class= "meeting-container">

    <% @reservations.each do |reservation| %>
    <div class="meeting-property-container">
  <h1 class= "text-center"> confirmed viewings</h1>

      <div class="meeting-property">
          <%=cl_image_tag property_viewing.property.photo.key, height: 120, width: 130, crop: :fill, style: "border-radius: 20px; margin-left: 12px; margin-top: 10px;" %>
        </div>
        <div class="meeting-info">
            <%= reservation.property_viewing.property.date or reservation.date %>
          </div>
          <div>
            <%= reservation.property_viewing.property.time or reservation.time %>

          </div>
          <div>
            <%= reservation.property_viewing.property.location or reservation.location %>

          </div>

          </div>
          <%= link_to "?", property_viewing.property, class: "btn btn-success", style: "color: white;"%>
        </div>
      </div>

    </div>
    <% end %>




  <div class= "meeting-card">

  </div>


  <h1 class= "text-center"> to be continued</h1>

  <div class= "meeting-card">
  </div>

  <h1 class= "text-center"> applied</h1>

    <div class= "meeting-card">
    </div>

</div>

