<div class="property_container">
  <div class="property_card">
    <img class="property_img" src="https://images.unsplash.com/photo-1522708323590-d24dbb6b0267?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=1500&amp;q=80">
      <div class="property-info">
        <div class="price">¥<%= @property.price %>,000/m</div>
        <div><i class="fas fa-subway"></i> <%= @property.distance_to_station %>m from <%= @property.location %> station</div>
        <div><i class="fas fa-bed"></i> <%= @property.layout %></div>
        <div><i class="fas fa-ruler-combined"></i> <%= @property.size %></div>
        <div><i class="fas fa-home"></i> <%= @property.age %></div>
        <div><i class="fas fa-money-check-alt"></i> <%= @property.deposit %></div>
      </div>
      <div class="like">
      </div>
  </div>
</div>
