<div class="container" style="text-align: center;">
    <h2>Make your reservation</h2>
      <%= simple_form_for new_property_reservation_path do |f| %>
      <div>Chose your available day</div>
      <div>Monday <%= f.select :Start, options_for_select(%w[9:00 10:00 11:00 12:00 13:00 14:00 15:00 16:00 17:00 8:00 ×]) %>-<%= f.select :End, options_for_select(%w[9:00 10:00 11:00 12:00 13:00 14:00 15:00 16:00 17:00 8:00 ×]) %></div>
      <div>Tuesday <%= f.select :Start, options_for_select(%w[9:00 10:00 11:00 12:00 13:00 14:00 15:00 16:00 17:00 8:00 ×]) %>-<%= f.select :End, options_for_select(%w[9:00 10:00 11:00 12:00 13:00 14:00 15:00 16:00 17:00 8:00 ×]) %></div>
      <div>Wednesday <%= f.select :Start, options_for_select(%w[9:00 10:00 11:00 12:00 13:00 14:00 15:00 16:00 17:00 8:00 ×]) %>-<%= f.select :End, options_for_select(%w[9:00 10:00 11:00 12:00 13:00 14:00 15:00 16:00 17:00 8:00 ×]) %></div>
      <div>Thursday <%= f.select :Start, options_for_select(%w[9:00 10:00 11:00 12:00 13:00 14:00 15:00 16:00 17:00 8:00 ×]) %>-<%= f.select :End, options_for_select(%w[9:00 10:00 11:00 12:00 13:00 14:00 15:00 16:00 17:00 8:00 ×]) %></div>
      <div>Friday <%= f.select :Start, options_for_select(%w[9:00 10:00 11:00 12:00 13:00 14:00 15:00 16:00 17:00 8:00 ×]) %>-<%= f.select :End, options_for_select(%w[9:00 10:00 11:00 12:00 13:00 14:00 15:00 16:00 17:00 8:00 ×]) %></div>
      <div>Saturday <%= f.select :Start, options_for_select(%w[9:00 10:00 11:00 12:00 13:00 14:00 15:00 16:00 17:00 8:00 ×]) %>-<%= f.select :End, options_for_select(%w[9:00 10:00 11:00 12:00 13:00 14:00 15:00 16:00 17:00 8:00 ×]) %></div>
      <div>Sunday <%= f.select :Start, options_for_select(%w[9:00 10:00 11:00 12:00 13:00 14:00 15:00 16:00 17:00 8:00 ×]) %>-<%= f.select :End, options_for_select(%w[9:00 10:00 11:00 12:00 13:00 14:00 15:00 16:00 17:00 8:00 ×]) %></div>
      <%= f.input :Alien_registration_card_number %>
      <%= f.input :Employer_name%>
      <%= f.input :Salary %>
      <%= f.input :Credit_card_number %>
      <%= f.submit "Submit", class: "button"%>
      <% end %>
  </div>
</div>

